[Unit]
Description=Start the Komodo Periphery service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
EnvironmentFile=/etc/komodo/periphery/periphery.env
ExecStart=/usr/bin/periphery --config-path /etc/komodo/periphery/config.toml
Restart=on-failure
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target